{% extends 'base.html.twig' %}

{% block title %}Paiement de  ma commance{% endblock %}

{% block content %}
<h2>Mon récapitulatif</h2>
<p>Vérifier vos informations avant de votre commande.</p>
<hr>
<div class="row">
    <div class="col-md-6">
        <strong>Mon Adresse de Livraison</strong>
        <div class="form-check mt-3">
        {{delivery|raw}}
        </div>
        <strong>Mon Transporter</strong>
        <div class="form-check">
        {{carriers.name}}</br>
        {{carriers.description}}</br>
        {{carriers.price}} €
         </div>

       
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <b>Récapitulatif de ma commande</b></br>
        </div>
        <div class="order-summary">
            {% set total = null%}
            {% for key,product in cart %}
            <div class="row" {% if key > 0 %}mt-2{% endif %}>
                <div class="col-2">
                    <img src="{{product.product.firstPicture}}" alt="{{product.product.name}}" height="80px"></br>
                </div>
                <div class="col-8 my-auto">
                    {{product.product.name}}</br>
                    <small>
                        x{{product.quantity}}
                    </small>  
                </div>
                <div class="col-2 my-auto">
                    {{ ((product.product.price * product.quantity) / 100)|number_format(2,',','.')}} €
                </div>
            </div>
            {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
        </div>
        <hr>
        <strong>Sous-Total :</strong>{{(total / 100)|number_format(2,',','.')}} € </br>
        <strong>Livraison :</strong>{{(carriers.price)|number_format(2,',','.')}} €
        <hr>
        <strong>Total : </strong>{{((total / 100) + (carriers.price))|number_format(2,',','.')}} €
        
        <a href="" class="btn btn-success btn-block mt-3 mb-5">Payer {{((total / 100) + (carriers.price))|number_format(2,',','.')}} €</a>
    </div>
</div>
{% endblock %}